@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.intro-container {
  background: url('../../../public/backgroundMain.png');
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* src/HamburgerMenu.css */
.hamburger-menu-container {
  position: relative;
  z-index: 10;
}

.hamburger-icon {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 20;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger-icon.open span:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  color: #333;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
 
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
}

.img-slider1 {
  background: url('../../../public/slider1mb.png');
  background-repeat: no-repeat;
  background-size: 110%;
  object-fit: cover;
  background-position: center;
}

.img-slider1Des {
  background: url('../../../public/slider1.png');
  background-repeat: no-repeat;
  background-size: 110%;
  object-fit: cover;
  background-position: center;
}

.info-slider {
  background-color: rgba(255, 255, 255, 0.9);
}

.img-mb-value-intro {
  background: url('../../../public/valueIntro.png');
  background-repeat: no-repeat;
  background-size: 99%;
}

.process-container {
  background-color: rgba(199, 196, 242, 0.5);
}

.news-container {
  background-color: rgba(156, 155, 159, 0.2);
}

.shadow-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu-hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.menu-hover:hover {
border-bottom: 2px solid #333
}

.cool-link {
  cursor: pointer;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
 transition: width .3s;
}